// ==========================================================================
// Jack Mostert || Normalize
// ==========================================================================
//
// Table of Contents:
//
//  1. General Inital styling



// 1. General Inital styling
// ==========================================================================

* {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
}