// ==========================================================================
// Jack Mostert || Typography
// ==========================================================================

html {
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 16px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 18px;
  }
}

h1, h2, h3, p {
  font-family: $main-font;
}

h1, h2, h3 {
  font-weight: lighter;
  letter-spacing: 2px;
}

h1 {
  font-size: $header-xLarge;
  color: $color-pall-5;
}

h2 {
  font-size: $header-large;
  color: $color-pall-2;
}

h3 {
  font-size: $header-normal;
}

p {
  font-size: $body;
  line-height: 25px;
  letter-spacing: 1px;
}

a {
  font-size: $links;
  font-family: $main-font;
  text-decoration: none;
  letter-spacing: 1px;
}